<div class="small-12 columns social">
  <ul class="small-block-grid-5 large-block-grid-6">
    <li>
        <a href="https://www.facebook.com/inkdroplabs" target="new"><%= image_tag("facebook.png") %></a>
    </li>
    <li>
        <a href="https://twitter.com/inkdroplabs" target="new"><%= image_tag("twitter.png") %></a>
    </li>
    <li>
        <a href="https://plus.google.com/+InkdropLabsSoftware" target="new"><%= image_tag("google-plus.png") %></a>
    </li>
    <li>
        <a href="https://github.com/inkdrop" target="new"><%= image_tag("github.png") %></a>
    </li>
    <li>
        <a href="https://bitbucket.org/inkdrop" target="new"><%= image_tag("bitbucket.png") %></a>
    </li>
    <li>
        <a href="mailto:contact@inkdroplabs.com"><%= image_tag("email.png") %></a>
    </li>
  </ul>
</div>